.page_header {
  padding-top: 4rem;
  display: grid;
  grid-gap: 0.8rem;
  justify-items: start;

  &.large_gap {
    grid-gap: 3.2rem;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    justify-self: center;
  }
}
