.help {
  display: grid;
  gap: 8rem;
  padding-bottom: 7rem;
  min-height: 100vh;

  &__top {
    display: grid;
    gap: 2rem;

    &_title {
      margin-bottom: 4.4rem;
    }
  }

  &__wrap {
    padding: 0 15%;
  }
}
