.profile {
  padding-top: 6.8rem;
  display: grid;
  align-content: start;
  grid-gap: 6.8rem;

  &__top {
    display: grid;
    align-content: start;
    grid-gap: 3.2rem;
  }

  &__navigation {
    display: grid;
    gap: 1.2rem;
  }

  &__navigatation_link {
    padding: 1.1rem 3.2rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;

    color: var(--font-color-primary);
    font-size: 1.6rem;
    font-weight: 700;

    border-radius: 2.4rem;
    box-shadow: var(--box-shadow);
    transition: background-color var(--transition);

    & svg {
      width: 2rem;
      height: 2rem;
    }

    &:active {
      background-color: var(--button-active);
    }
  }

  &__photo {
    position: relative;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 3.6rem;
  }

  &__info {
    height: 100%;
    display: grid;
    align-content: space-between;

    font-size: 1.2rem;
    color: var(--font-color-grey);
    font-weight: 500;
  }

  &__name {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--font-color-primary);
  }
  &_privacy {
    text-align: center;
  }
}
