// .settings {
//   display: grid;
//   padding-bottom: 7rem;
//   gap: 3.2rem;

//   &__cards {
//     margin-bottom: 4.4rem;
//     display: grid;
//     gap: 2.4rem;
//   }
// }

.settings_card {
  padding: 1.2rem 1.2rem 2rem;
  display: grid;
  gap: 2.4rem;

  border-radius: 2.4rem;
  box-shadow: var(--box-shadow);

  &.blue {
    background-color: var(--accent-color-light-blue);
  }

  &.grau {
    background-color: var(--bg-color-primary);
  }

  &.yellow {
    background-color: var(--accent-color-light-yellow);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.6rem;
    font-weight: 700;
  }

  &__content {
    display: grid;
    gap: 1.2rem;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__field_value {
    font-weight: 600;
  }

  &_iput_wrap {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 3.8rem;
  }

  &__user {
    &_info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_info_balance {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &_info_svg {
      width: 0.9rem;
      height: 1.2rem;
      stroke: #7d7d7d;
    }
  }
  &__bottom {
    max-width: 13.2rem;
    float: right;
  }
}
