.input {
  width: 100%;

  &__label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--font-color-grey);

    &.error {
      color: var(--error-color);
    }
  }

  &__hint {
    margin-top: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font-color-grey);

    &.error {
      color: var(--error-color);
    }
  }

  &__field_wrapper {
    padding: 0.8rem 2.4rem 0.8rem 3.2rem;

    display: flex;
    align-items: center;
    gap: var(--gap-small);

    border: 1px solid var(--bg-color-primary);
    background-color: var(--bg-color-primary);
    border-radius: 2.4rem;
    box-shadow: var(--box-shadow);

    transition:
      box-shadow var(--transition),
      border-color var(--transition),
      color var(--transition);

    &.focus {
      border-color: var(--accent-color-yellow);
      box-shadow: none;
    }

    &.filled {
      border-color: transparent;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1) inset;
    }

    &.error {
      border-color: var(--error-color);
    }
  }

  &__field {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    background-color: var(--bg-color-primary);

    &.error {
      color: var(--error-color);

      &::placeholder {
        color: var(--error-color);
      }
    }

    &::placeholder {
      color: var(--font-color-grey);
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    & svg {
      width: 2rem;
      height: 2rem;
      color: var(--font-color-grey);
    }
  }
}
