.navigation {
  position: relative;
  padding: 1.3rem 1.4rem 2.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  //gap: 11.6rem;

  background-color: var(--bg-color-primary);
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.1);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    &:last-child {
      grid-column: 3/4;
    }
  }

  &__link {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.size {
      & svg {
        width: 2.4rem;
        height: 2rem;
      }
    }

    & svg {
      width: 2rem;
      height: 2rem;
      color: var(--icon-color);
      transition: transform var(--transition);
    }

    &.active {
      & svg {
        transform: scale(1.2);
        color: var(--font-color-primary);
      }
    }
  }

  &__help {
    position: absolute;
    right: calc(50% - 3.4rem);
    top: -3rem;
    width: 6.8rem;
    height: 6.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    background-color: var(--error-color);
    border-radius: 50%;
    box-shadow: 0 4px 1.2rem #00000040;

    transition: background-color var(--transition);

    & svg {
      width: 4.6rem;
      height: 1.6rem;
    }

    &:active {
      background-color: #673030;
    }
  }
}
