.toggle {
  height: 2rem;
  width: 5.7rem;
  padding: 0 0.4rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 2rem;
  background-color: #d8d8d8;

  transition:
    background-color var(--transition),
    justify-content var(--transition);

  &.active {
    justify-content: flex-end;
    background-color: var(--accent-color-blue);
  }

  &__controller {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--bg-color-primary);
    box-shadow: 0 4px 4px 0 #00000026;
  }
}
