.photo_tutorial {
  :global {
    --swiper-pagination-color: var(--accent-color-yellow);
    .swiper-pagination-bullets {
      bottom: 0;
    }
  }

  &__swiper {
    height: 30rem;
    overflow-y: visible;
  }

  &__swiper_wrapper {
    height: 30rem;
  }

  &__image {
    margin: 0 auto;
    height: 27rem;
    overflow: hidden;
    width: fit-content;

    & img {
      height: 27rem !important;
      border-radius: 8px;
    }
  }
}
