.challenge {
  padding-bottom: 7rem;
  display: grid;
  gap: 3.2rem;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: 0fr;
  align-content: space-between;
  &__title {
    margin-bottom: 2.4rem;
  }

  &__rewards {
    display: flex;
    margin: 0 auto;
    width: 100%;
    gap: 0.8rem;

    &_block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      min-width: 8.6rem;
      min-height: 8.1rem;
      padding: 1rem 0.6rem;
      border-radius: 8px;
      box-shadow: 0px 4px 12px 0px #00000026;
      text-align: center;

      &:nth-child(1) {
        background-color: var(--accent-color-green);
      }

      &:nth-child(2) {
        background-color: var(--accent-color-light-yellow);
      }

      &:nth-child(3) {
        background-color: var(--accent-color-light-blue);
      }
    }
  }

  &__progressbar {
    margin: 0 auto;
    margin-bottom: 2.4rem;

    &_info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.2rem;
    }

    &_line {
      width: 100%;
      height: 0.8rem;
      border-radius: 8px;
      border: 1px solid #bdbdbd;
      overflow: hidden;
      box-shadow: 0px 4px 12px 0px #00000026;
    }

    &_span {
      background-color: var(--button-active);
      height: 10px;
      height: 100%;
    }
  }

  &__area {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    overflow: auto;

    &_input {
      width: 100%;
      min-height: 11rem;
      max-height: 20rem;
      border: none;
      border-radius: 12px;
      background: var(--bg-color-primary);
      box-shadow: 0px 4px 12px 0px #00000026;
      padding: 0.8rem;
      overflow: auto;
      outline: none;
      font-size: 1.6rem;
      resize: none;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 14.63px;
      text-align: right;
    }
  }
}

.modal {
  padding: 3.6rem 2.4rem;
  max-width: 50rem;
  margin: 0 auto;

  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 18px;
    margin: 1.2rem 0 2.4rem;
  }
  &__top_img {
    padding: 0 10%;
    margin: 0 0 2.8rem;
  }
}
