.notes {
  display: grid;
  gap: 3.2rem;

  &__record_block {
    display: grid;
    gap: 1.2rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__cards {
    padding: 0 1.2rem;
  }

  &__hidden_cards {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition);

    &.extended {
      grid-template-rows: 1fr;
    }
  }

  &__hidden_wrapper {
    overflow: hidden;
  }

  &__arrow_btn {
    margin-top: 1.2rem;
    display: grid;
    justify-content: center;

    & svg {
      transition: transform var(--transition);
    }

    &.extended {
      & svg {
        transform: rotate(180deg);
      }
    }
  }
}
