.form {
  height: 100%;
  width: 100%;
  display: grid;
  gap: var(--gap-large);
  align-content: space-between;
  box-sizing: border-box;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  &__wrap_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
}
