.code_input {
  text-align: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 36px;
  box-shadow: var(--box-shadow);
  background-color: transparent;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.21;

  &__container {
    display: flex;
    gap: 1.8rem;
    width: 24.6rem;
    height: 4.8rem;
    margin: 0 auto;
  }
}
