.card {
  animation: slideInFromLeft 0.5s ease-out forwards;
  position: relative;
  width: 100%;
  height: 13.2rem;
  border-radius: 12px;
  padding: 1.2rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_title {
    width: 100%;
    text-align: center;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__avatar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88px;
    height: 89px;
    transform: scaleX(-1);
    overflow: hidden;
    border-radius: 12px;
    &_position {
      width: 88px;
      height: 89px;
      position: absolute;
      bottom: -4px;
      right: 13px;
    }
  }

  &_icon {
    position: absolute;
    top: -8px;
    right: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 4px 12px 0px #00000026;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
