.sing_up_code {
  &__container {
    height: 100vh;
    padding-bottom: 9.6rem;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: start;
    gap: 5.2rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__text {
    width: 27.2rem;
    margin: 0 auto;
    text-align: center;
  }
}
