.tutorials {
  padding-top: 6.8rem;
  display: grid;
  gap: 3.2rem;

  &__content {
    display: grid;
    gap: 2.4rem;
  }

  &__box_title {
    display: grid;
    gap: 0.9rem;
    font-size: 1.6rem;
    font-weight: 700;
    transition: gap var(--transition);

    &.expanded {
      gap: 1.8rem;
    }
  }

  &__box_btn {
    display: block;
    margin: 0 auto;

    & svg {
      width: 2rem;
      height: 2rem;
      transition: transform var(--transition);
    }

    &.expanded {
      & svg {
        transform: rotate(180deg);
      }
    }
  }

  &__box_wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition);

    &.expanded {
      grid-template-rows: 1fr;
    }
  }

  &__box_inner {
    overflow: hidden;
  }
}
