.date_picker {
  width: 100%;
  display: grid;
  gap: 1.6rem;
  font-size: 1rem;
  text-align: center;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;

    font-size: 1.6rem;
    font-weight: 700;
  }

  &__nav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);

    & svg {
      width: 1.3rem;
      height: 1.3rem;
    }

    &.next {
      transform: rotate(-90deg);
    }
  }

  &__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.4rem;
  }

  &__day_of_week {
    padding-bottom: 0.4rem;
    font-weight: 500;
    color: var(--font-color-grey);
  }

  &__day {
    display: grid;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;

    background-color: transparent;
    border: 0.5px solid var(--button-disabled);
    border-radius: 0.4rem;
    text-align: center;

    transition:
      background var(--transition),
      border-color var(--transition),
      color var(--transition);

    &.today {
      border: 1px solid var(--accent-color-yellow);
      color: var(--icon-accent-color);
    }

    &.active {
      background-color: var(--accent-color-yellow);
      border-color: var(--accent-color-yellow);
      color: var(--icon-accent-color);
    }
  }

  &__bottom {
    max-width: 13.2rem;
    justify-self: right;
  }

  &__selected_dates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__selected_date {
    height: 2rem;
    padding: 0 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    color: var(--icon-accent-color);
    font-size: 1.2rem;
    font-weight: 500;

    border-radius: 0.8rem;
    background: var(--accent-color-yellow);
  }
}
